<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home :: head">

</head>
<body>
	<div class="container content">
		<h1 class="page-header">Zoznam klientov</h1>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Meno</th>
						<th>Priezvisko</th>
						<th>Stav</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="tableBody">
					<tr th:each="customer : ${cusList}">
						<td th:text="${customer.id}"/>
						<td th:text="${customer.firstName}" />
						<td th:text="${customer.surname}" />
						<td th:text="${customer.status}" />
						<td class="text-left">
							<a href="/clients/clientDetail"
								th:href="@{/clients/clientDetail(user_id=${customer.id})}"
								class="btn btn-primary" th:id="'clientDetail_' + *{customer.id}">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</a> 
							<a href="#" th:href="@{/clients/refund(user_id=${customer.id})}"
								class="btn btn-modal btn-success" th:id="'refund_' + *{customer.id}"> 
								<i class="fa fa-check-circle-o" aria-hidden="true"></i>
							</a> 
							<a href="#" th:href="@{/clients/suspend(user_id=${customer.id})}"
								class="btn btn-modal btn-warning" th:id="'suspend_' + *{customer.id}"> 
								<i class="fa fa-ban" aria-hidden="true"></i>
							</a>
							<a href="#" th:href="@{/clients/delete(user_id=${customer.id})}"
								class="btn btn-modal btn-danger" th:id="'delete_' + *{customer.id}"> 
							<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
        $('.btn-modal').click(function(e){
            e.preventDefault();
            e.stopPropagation();

            var self = $(this);

            $.ajax({
                url: self.attr('href')
            })
            .done(function(response){
                var $modal = $(response);
                $modal.modal({
                    keyboard: false
                })

                $modal.on('hidden.bs.modal', function (e) {
                    console.log('hide modal');
                    $modal.remove();
                    $('.modal-backdrop').remove();
                })
            });

            console.log($(this));
        });
    </script>
</body>
</html>