<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nové údaje klienta</h4>
            </div>
            <div class="container" id="cnt1">
				<div class="col-md-6" id="panel1">
					<div class="panel panel-default">
						<div class="panel-body two-col">
							<div class="row">
								<div class="col-md-6">
									<div class="well well-sm  margin-bottom-none">
										<div class="checkbox">
											<label> Meno <input name="firstName" id="firstName"
												th:value="${customer.firstName}" class="form-control"
												type="text" value="" readonly="true" />
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="well well-sm  margin-bottom-none">
										<div class="checkbox">
											<label> Priezvisko <input name="surname" id="surname"
												th:value="${customer.surname}" readonly="true"
												class="input-group-sm form-control" type="text" value="" />
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="well well-sm margin-bottom-none">
										<div class="checkbox">
											<label> Rodné číslo <input name="NIN" id="NIN"
												th:value="${customer.NIN}" class="form-control" type="text"
												value=""  readonly="true"/> <!-- NIN - national identification number (rodne cislo) -->
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="well well-sm margin-bottom-none">
										<div class="checkbox">
											<label> Krajina pôvodu <input name="birthPlace" id="birthPlace"
												th:value="${customer.birthPlace}" class="form-control"
												type="text" value="" readonly="true" />
											</label>
										</div>
									</div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-md-6">
									<div class="well well-sm margin-bottom-none">
										<div class="checkbox">
											<label> Ulica <input name="streetName" id="streetName"
												th:value="${address.streetName}" class="form-control"
												type="text" value="" readonly="true" />
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="well well-sm margin-bottom-none">
										<div class="checkbox">
											<label> Popisné číslo <input name="streetNum" id="streetNum"
												th:value="${address.streetNum}" class="form-control"
												type="text" value="" readonly="true" />
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="well well-sm margin-bottom-none">
										<div class="checkbox">
											<label> Mesto <input name="city" id="city"
												th:value="${address.city}" class="form-control" type="text"
												value="" readonly="true" />
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="well well-sm margin-bottom-none">
										<div class="checkbox">
											<label> PSČ <br /> <input name="postalCode" id="postalCode"
												th:value="${address.postalCode}" class="form-control"
												type="text" value="" readonly="true" />
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="well well-sm margin-bottom-none">
										<div class="checkbox">
											<label> Krajina <input name="country" id="country"
												th:value="${address.country}" class="form-control"
												type="text" value="" readonly="true" />
											</label>
										</div>
									</div>
								</div>
							</div>
							<hr />
							<div class="row">
								<div class="col-md-6">
									<div class="well well-sm margin-bottom-none">
										<div class="checkbox">
											<label> Typ telefónu 
												<input class="form-control" th:value="${telNumType}" type="text" 
													name="telNumType" list="telNumTypeList" value="" id="telNumType" readonly="true"/>
											</label>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="well well-sm margin-bottom-none">
										<div class="checkbox">
											<label> Telefóne číslo <br /> 
												<input id="countryCode" th:value="${phone.countryCode}" name="countryCode" 
												class="form-control myWidth25" type="text" value="+" readonly="true"/> 
												<input name="phoneNum" id="phoneNum" th:value="${phone.phoneNum}"
												class="form-control myWidth75" type="text" value="" readonly="true"/>
											</label>
										</div>
									</div>
								</div>
							</div>
			
						</div>
					</div>
				</div>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->