<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home :: head">

</head>
<body>
	<div class="container content">
		<div class="insertIframe">
          <h1 class="page-header">Zoznam požiadaviek</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Dátum vytvorenia</th>
                  <th>Vytvoril</th>
                  <th>ID klienta</th>
                  <th>Typ požiadavky</th>
                  <th>Zmazať</th>
                </tr>
              </thead>
              <tbody id="tableBody">
					<tr th:each="request : ${reqList}">
						<td th:text="${request.id}" />
						<td th:text="${request.signingDate}" />
						<td th:text="${request.createdByUser}" />
						<td th:text="${request.userId}" />
						<td th:text="${request.requestType}" />
						<td class="text-left">
							<a href="#" th:href="@{/requests/requestDetail(request_id=${request.id},requestType=${request.requestType})}"
								class="btn btn-modal btn-default"> 
								<i class="fa fa-eye" aria-hidden="true" ></i>
							</a>
							<a href="#" th:href="@{/requests/delete(request_id=${request.id})}"
								class="btn btn-modal btn-danger"> 
								<i class="fa fa-trash" aria-hidden="true"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
          </div>
      	</div>
      </div>
      <script>
        $('.btn-modal').click(function(e){
            e.preventDefault();
            e.stopPropagation();

            var self = $(this);

            $.ajax({
                url: self.attr('href')
            })
            .done(function(response){
                var $modal = $(response);
                $modal.modal({
                    keyboard: false
                })

                $modal.on('hidden.bs.modal', function (e) {
                    console.log('hide modal');
                    $modal.remove();
                    $('.modal-backdrop').remove();
                })
            });

            console.log($(this));
        });
    </script>
</body>
</html>